:root {
  --mobile-cell-1: 40%;
  --mobile-cell-2: 60%;
  --cell-width-1: 23.3%;
  --cell-width-2: 30.8%;
  --cell-width-3: calc(100% - 23.3% - 30.8%);
}

.table-main {
  border-color: #E9EAEB;
  border-width: 1px;
}

.cell.one {
  width: var(--cell-width-1);
}

.cell.two {
  width: var(--cell-width-2);
}

.cell.three {
  width: var(--cell-width-3);
}

.cell.header {
  padding: 13px 24px;
  color: #535862;
}

@media only screen and (max-width: 640px) {
  .table-main .cell.header.one {
    width: var(--mobile-cell-1)
  }
}

@media only screen and (max-width: 640px) {
  .table-main .cell.header.two {
    width: var(--mobile-cell-1)
  }
}

@media only screen and (max-width: 640px) {
  .table-main .cell.header.three {
    display: none;
  }
}

.table-main .detail-row {
  border-bottom-color: #E9EAEB;
}

.table-main .detail-row:nth-last-child(-n + 1) {
  border: none;
}

.cell.detail {
  height: 72px;
  padding: 26px 24px;
  color: #535862;
}

@media only screen and (max-width: 640px) {
  .table-main .cell.detail.one {
    width: var(--mobile-cell-1)
  }
}

@media only screen and (max-width: 640px) {
  .table-main .cell.detail.two {
    width: var(--mobile-cell-2);
  }
}

@media only screen and (max-width: 640px) {
  .table-main .cell.detail.three {
    display: none;
  }
}

.cell.detail .detail-txt {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}